define host{
	name                            generic-percona-host
        check_period                    24x7
        check_interval                  5
        retry_interval                  1
        max_check_attempts              10
        check_command                   check-host-alive
        notification_period             24x7
        notification_interval           30
        notification_options            d,r
        contact_groups                  admins
}


{% for host in range(3,5) %}
define host{
	use                             generic-percona-host
        host_name                       172.28.128.{{ host }}
        alias                           172.28.128.{{ host }}
        address                         172.28.128.{{ host }}
}
{% endfor %}

define hostgroup {
        hostgroup_name          mysql-servers
        alias                   mysql-servers
	members 		{% set comma = joiner(",") %}{%- for host in range(3,5) -%}
		{{ comma() }} 172.28.128.{{ host }}
	{%- endfor %}

}
